server:
  address: 0.0.0.0
  port: 8080

spring:
  web:
    cors:
      allowed-origins: "*"
      allowed-methods: "*"
  datasource:
    url: jdbc:mysql://localhost:3306/scenery?useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    root: info
    org.hibernate.SQL: debug
jwt:
  secret: cwxcwx123123
  expire: 86400000
